<div class="row" style="margin: -3px 0px 20px 0px;">
    <div class="col" style="padding-left:0px;font-size: 40px;font-size: 40px;top: 22px;">
        <div class="float-left">
            <h3>{{stateName}}</h3>
        </div>
    </div>
    <div class="col" style="top:19px; padding-right: 0px;">
        <div class="float-right btn btn-primary" style="margin-bottom:10px" routerLink="/Covid">Covid | Home</div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                State Dashboard
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col" *ngFor="let d of districtData">
                        <div class="circle-wrap">
                            <div class="circle">
                                <div class="mask full">
                                    <div class={{d.class}}></div>
                                </div>
                                <div class="mask half">
                                    <div class={{d.class}}></div>
                                </div>
                                <div class="inside-circle">
                                    <span class={{d.icon}}></span>
                                    <div class="nameTag">{{d.Name}}</div>
                                    <div *ngIf="d.number; else elseBlock" [countUp]=d.number options="duration">{{d.number | number}}</div>
                                    <div class={{d.del_style}} *ngIf="d.del && d.del_style">
                                        <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="d.del >=0 "></i>
                                        <i class="fa fa-arrow-down" aria-hidden="true"
                                            *ngIf="d.del < 0"></i>&nbsp;{{d.del | number}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <div>-NA-</div>
            </ng-template>
        </div>
    </div>

    <!-- ---Main Table--- -->
    <div class="col-12">
        <div class="form-group has-search" style="margin-top:20px">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder={{PlaceholderDtName}} #searchValue (input)="searchWord($event.target.value)">
        </div>
    </div>
    
    <div class="col-12" style="margin-top: 5px">
        <div class="swipe"><span style="float: right;"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Swipe Left</span></div>
        <table class="table table-responsive" id="homeTable">
            <thead>
                <tr>
                    <th style="position: sticky; left:0px; background-color: white; z-index: 999" scope="row" #name (click)="dt_sort(name.innerText)">Name<i *ngIf="counter%2!=0 && dt_SortBy=='Name'" class="fa fa-sort-alpha-asc"></i>
                        <i *ngIf="counter%2==0 && dt_SortBy=='Name'" class="fa fa-sort-alpha-desc"></i>
                        <i *ngIf="dt_SortBy!='Name'" class="fa fa-sort"></i>
                    </th>
                    <th scope="row" style="text-align: center;" #popu (click)="dt_sort(popu.innerText)">
                        Population<i *ngIf="counter%2!=0 && dt_SortBy=='Population'" class="fa fa-sort-numeric-asc"></i>
                        <i *ngIf="counter%2==0 && dt_SortBy=='Population'" class="fa fa-sort-numeric-desc"></i>
                        <i *ngIf="dt_SortBy!='Population'" class="fa fa-sort"></i>
                    </th>
                    <th scope="row" style="text-align: center;" #conf (click)="dt_sort(conf.innerText)">
                        Confirmed<i *ngIf="counter%2!=0 && dt_SortBy=='Confirmed'" class="fa fa-sort-numeric-asc"></i>
                        <i *ngIf="counter%2==0 && dt_SortBy=='Confirmed'" class="fa fa-sort-numeric-desc"></i>
                        <i *ngIf="dt_SortBy!='Confirmed'" class="fa fa-sort"></i>
                    </th>
                    <th scope="row" style="text-align: center;" #acti (click)="dt_sort(acti.innerText)">
                        Active<i *ngIf="counter%2!=0 && dt_SortBy=='Active'" class="fa fa-sort-numeric-asc"></i>
                        <i *ngIf="counter%2==0 && dt_SortBy=='Active'" class="fa fa-sort-numeric-desc"></i>
                        <i *ngIf="dt_SortBy!='Active'" class="fa fa-sort"></i>
                    </th>
                    <th scope="row" style="text-align: center;" #reco (click)="dt_sort(reco.innerText)">
                        Recovered<i *ngIf="counter%2!=0 && dt_SortBy=='Recovered'" class="fa fa-sort-numeric-asc"></i>
                        <i *ngIf="counter%2==0 && dt_SortBy=='Recovered'" class="fa fa-sort-numeric-desc"></i>
                        <i *ngIf="dt_SortBy!='Recovered'" class="fa fa-sort"></i>
                    </th>
                    <th scope="row" style="text-align: center;" #dece (click)="dt_sort(dece.innerText)">
                        Deceased<i *ngIf="counter%2!=0 && dt_SortBy=='Deceased'" class="fa fa-sort-numeric-asc"></i>
                        <i *ngIf="counter%2==0 && dt_SortBy=='Deceased'" class="fa fa-sort-numeric-desc"></i>
                        <i *ngIf="dt_SortBy!='Deceased'" class="fa fa-sort"></i>
                    </th>
                    <th scope="row" style="text-align: center;" #tese (click)="dt_sort(tese.innerText)">
                        Tested<i *ngIf="counter%2!=0 && dt_SortBy=='Tested'" class="fa fa-sort-numeric-asc"></i>
                        <i *ngIf="counter%2==0 && dt_SortBy=='Tested'" class="fa fa-sort-numeric-desc"></i>
                        <i *ngIf="dt_SortBy!='Tested'" class="fa fa-sort"></i>
                    </th>
                </tr>
            </thead>

            <tbody *ngFor="let d of SortDistricts" style="font-weight: normal;">
                <tr>
                    <td style="position: sticky; left:0px; background-color: white;z-index: 999">{{d.dt_name}}</td>
                    <td *ngIf="d.dt_population != 'NA' && d.dt_population != -1.5; else elseBlock" style="text-align: center;">
                        {{d.dt_population | number}}</td>
                    <td *ngIf="d.dt_confirmed != 'NA' && d.dt_confirmed != -1.5; else elseBlock" style="text-align: center;">
                        {{d.dt_confirmed | number}}
                        <span id="delta_green" *ngIf="d.delta_con!='NA' && d.delta_con < 0">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i> {{d.delta_con | number}}
                        </span>
                        <span id="delta_red" *ngIf="d.delta_con!='NA' && d.delta_con > 0">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i> {{d.delta_con | number}}
                        </span>
                    </td>
                    <td *ngIf="d.dt_active != 'NA' && d.dt_active != -1.5; else elseBlock" style="text-align: center;">
                        {{d.dt_active | number}}
                        <span id="delta_green" *ngIf="d.delta_act!='NA' && d.delta_act < 0">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i> {{d.delta_act | number}}
                        </span>
                        <span id="delta_red" *ngIf="d.delta_act!='NA' && d.delta_act > 0">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i> {{d.delta_act | number}}
                        </span>
                    </td>
                    <td *ngIf="d.dt_recoverd != 'NA' && d.dt_recoverd!= -1.5; else elseBlock" style="text-align: center;">
                        {{d.dt_recoverd | number}}
                        <span id="delta_green" *ngIf="d.delta_rec!='NA' && d.delta_rec < 0">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i> {{d.delta_rec | number}}
                        </span>
                        <span id="delta_red" *ngIf="d.delta_rec!='NA' && d.delta_rec > 0">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i> {{d.delta_rec | number}}
                        </span>
                    </td>
                    <td *ngIf="d.dt_deceased != 'NA' && d.dt_deceased != -1.5; else elseBlock" style="text-align: center;">
                        {{d.dt_deceased | number}}
                        <span id="delta_green" *ngIf="d.delta_dec!='NA' && d.delta_dec < 0">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i> {{d.delta_dec | number}}
                        </span>
                        <span id="delta_red" *ngIf="d.delta_dec!='NA' && d.delta_dec > 0">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i> {{d.delta_dec | number}}
                        </span>
                    </td>
                    <td *ngIf="d.dt_tested != 'NA' && d.dt_tested!= -1.5; else elseBlock" style="text-align: center;">
                        {{d.dt_tested | number}}
                        <span id="delta_green" *ngIf="d.delta_tes!='NA' && d.delta_tes < 0">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i> {{d.delta_tes | number}}
                        </span>
                        <span id="delta_red" *ngIf="d.delta_tes!='NA' && d.delta_tes > 0">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i> {{d.delta_tes | number}}
                        </span>
                    </td>
                </tr>
                <ng-template #elseBlock>
                    <td style="text-align: center;">-NA-</td>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Time Series - {{stateName}}
    </div>
    <div class="card-body">
        <div class="row">
            <div  [hidden]="!ConfirmedSeriesFlag" class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <canvas  id="stConfirmData" style="width:100%; margin: 0px 0px 22px 0px;"></canvas>  
            </div>
            <div  [hidden]="!RecoveredSeriesFlag" class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <canvas  id="stRecoveredmData" style="width:100%; margin: 0px 0px 22px 0px;"></canvas>  
            </div>
        </div>
        <div class="row">
            <div [hidden]="!DeceasedSeriesFlag" class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <canvas id="stDeceasedData" style="width:100%; margin: 0px 0px 22px 0px;"></canvas>  
            </div>
            <div  [hidden]="!TestsSeriesFlag" class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <canvas id="stTestsData" style="width:100%; margin: 0px 0px 22px 0px;"></canvas>  
            </div>
        </div>        
    </div>
</div>