<div class="row" style="margin: 40px 0px 20px 0px;">
    <div class="col">
        <div class="float-left" style="font-family: sans-serif;text-align: left; font-size: 24px;">{{stateName}}</div>
    </div>
    <div class="col">
        <div class="float-right btn btn-primary" style="margin-bottom:10px" routerLink="/Covid">Covid | Home</div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                State Dashboard
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col" *ngFor="let d of districtData">
                        <div class="circle-wrap">
                            <div class="circle">
                                <div class="mask full">
                                    <div class={{d.class}}></div>
                                </div>
                                <div class="mask half">
                                    <div class={{d.class}}></div>
                                </div>
                                <div class="inside-circle">
                                    <div class="nameTag">{{d.Name}}</div>
                                    {{d.number}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style="margin-top: 20px">
        <table class="table table-responsive table-hover" id="homeTable">
            <thead>
                <tr>
                    <th scope="row">District Name</th>
                    <th scope="row">Population</th>
                    <th scope="row">Confirmed Cases</th>
                    <th scope="row">Recovered Cases</th>
                    <th scope="row">Deceased Cases</th>
                    <th scope="row">Total Tests</th>
                </tr>
            </thead>
            <tbody *ngFor="let d of data.districts | keyvalue" style="font-weight: normal;">
                <ng-container *ngIf="d.key && d.value.meta">
                    <tr>
                        <td>{{d.key}}</td>
                        <td>{{d.value.meta.population}}</td>
                        <td>{{d.value.total.confirmed}}</td>
                        <td>{{d.value.total.recovered}}</td>
                        <td>{{d.value.total.deceased}}</td>
                        <td>{{d.value.total.tested}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>