#StateName{
  font-weight: bold;
}

.stick_col{
  position: sticky; 
  left:0px; 
  background-color: white; 
  z-index: 999
}

@media only screen and (max-width: 1000px)
{
    #StateName{
        font-size: 1.21rem;
        margin-left:4px;
        padding-bottom: 7px;
    }
}

.rank{
    color:#06060670;
    text-align: center;
    padding-top: 161px;
    padding-left: 7px;
    font-weight: bold;
    font-size: 13px;
}
.rank_perc{
  color:#06060670;
  text-align: center;
  padding-left: 7px;
  font-weight: bold;
  font-size: 13px;
  padding-top: 9px;
}

#actualRank{
  font-size: 20px;
  opacity: 1.0;
  color: darkred;
}


.circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 12px rgba(189,189,189,0.45);
  }

  .card{
    background-color: rgba(181, 231, 238, 0.125);
  }

  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}


.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }




  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
  }
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(180deg);
  }
   
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }


  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    padding-top:14px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 22px;
  }

  .nameTag{
    color: gray;
    font-size: 61%;
  }

  #nameTagNumber{
    font-size: 90%;
  }

.cl_con{
    background-color: rgba(106, 75, 219, 0.7);
}


.cl_rec{
  background-color: rgba(46, 134, 35, 0.7);
}

.cl_dec{
    background-color: rgb(107, 106, 106,0.7);
}


.cl_tes{
  background-color: rgba(134, 67, 151, 0.7);
    
}

.cl_act{
    background-color: rgb(205, 92, 92,0.7);
    
}

.delta_tot{
  font-size: 14px;
  text-align: center;
}

.fa-plus-square, .del_con{
  color: rgba(106, 75, 219);
}

.fa-check-circle, .del_rec{
  color: rgba(46, 134, 35);
}

.fa-flask, .del_tes{
  color: rgba(134, 67, 151);
}

.fa-minus-circle, .del_dec{
  color:  rgb(107, 106, 106);
}

.fa-heartbeat, .del_act{
  color: rgb(205, 92, 92);
}


table thead tr th {
  cursor: pointer;
}

table thead tr th i{
  padding-left: 6px;
  cursor: pointer;
  display: initial;
}


.fa-sort{
  color: gray;
  opacity: 0.7;
}


.form-control:focus{
  box-shadow: none;
}


.form-group{
  margin-bottom: 0px;
}


@media only screen and (min-width: 501px)
{
  #stConfirmData,#stRecoveredmData, #stDeceasedData, #stTestsData{
        height: 258px;
    }
}



@media only screen and (max-width: 500px)
{
    #stConfirmData,#stRecoveredmData, #stDeceasedData, #stTestsData{
        height: 166px;
    }
}


#ScrollDown{
  opacity: 0.8;
  float: right;
  animation: trans 1.5s infinite;
}

#ScrollDown:hover{
  opacity: 1;
  background-color: indianred;
  color: white;
}

@keyframes trans{
  0%{
    transform: translate(0, 2px);
  }
  50%{
    transform: translate(0, -3px);
  }
  100%{
    transform: translate(0, 2px);
  }
}

#scrollText{
  font-size: 13px;
}