<div class="row" style="margin: -3px 0px 20px 0px;">
    <div class="col" style="padding-left:0px;font-size: 40px;font-size: 40px;top: 22px;">
        <div class="float-left"><h3>{{stateName}}</h3></div>
    </div>
    <div class="col" style="top:19px; padding-right: 0px;">
        <div class="float-right btn btn-primary" style="margin-bottom:10px" routerLink="/Covid">Covid | Home</div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                State Dashboard
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col" *ngFor="let d of districtData">
                        <div class="circle-wrap">
                            <div class="circle">
                                <div class="mask full">
                                    <div class={{d.class}}></div>
                                </div>
                                <div class="mask half">
                                    <div class={{d.class}}></div>
                                </div>
                                <div class="inside-circle">
                                    <div class="nameTag">{{d.Name}}</div>
                                    {{d.number | number}}
                                    <br style="margin: 0;">
                                    <div class={{d.del_style}} *ngIf="d.del && d.del_style">
                                        <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="d.del >=0 "></i>
                                        <i class="fa fa-arrow-down" aria-hidden="true" *ngIf="d.del < 0"></i>&nbsp;{{d.del | number}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style="margin-top: 20px">
        <table class="table table-responsive table-hover" id="homeTable">
            <thead>
                <tr>
                    <th scope="row">District Name</th>
                    <th scope="row" style= "text-align: center;">Population</th>
                    <th scope="row" style= "text-align: center;">Confirmed Cases</th>
                    <th scope="row" style= "text-align: center;">Recovered Cases</th>
                    <th scope="row" style= "text-align: center;">Deceased Cases</th>
                    <th scope="row" style= "text-align: center;">Total Tests</th>
                </tr>
            </thead>
            <tbody *ngFor="let d of data.districts | keyvalue" style="font-weight: normal;">
                <ng-container *ngIf="d.key && d.value.meta">
                    <tr>
                        <td *ngIf="d.key; else elseBlock">{{d.key}}</td>
                        <td *ngIf="d.value.meta.population; else elseBlock" style= "text-align: center;">{{d.value.meta.population | number}}</td>
                        <td *ngIf="d.value.total.confirmed; else elseBlock" style= "text-align: center;">{{d.value.total.confirmed | number}}</td>
                        <td *ngIf="d.value.total.recovered; else elseBlock" style= "text-align: center;">{{d.value.total.recovered | number}}</td>
                        <td *ngIf="d.value.total.deceased; else elseBlock" style= "text-align: center;">{{d.value.total.deceased | number}}</td>
                        <td *ngIf="d.value.total.tested; else elseBlock" style= "text-align: center;">{{d.value.total.tested | number}}</td>
                    </tr>
                </ng-container>
                <ng-template #elseBlock>
                    <td style= "text-align: center;"> NA</td>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>