<div class="row">
    <div class="col">
        <h3 id="titleName">Covid Stats India</h3>
        <h6>{{dateMessage}}</h6>
    </div>
    <div class="col">
        <div class="float-right" style="text-align: right; color: gray; font-weight: bold;">Indian Population <br>
            <span class="numbers"> {{IndianPopulation | number}} </span></div>
    </div>
</div>

<div class="row">
    <div class="col" style="margin:3px;" *ngFor="let d of Nt_data">
        <div class="card {{d.style}}">
            <div class="card-header">
                {{d.Name}} <span class={{d.icon}}></span>
            </div>
            <div class="card-body" style="font-weight: bold;">
                {{d.number | number}} 
                <span class={{d.del_style}} *ngIf="d.del && d.del_style">
                    <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="d.del >=0 "></i>
                    <i class="fa fa-arrow-down" aria-hidden="true" *ngIf="d.del < 0"></i>&nbsp;{{d.del | number}}</span>
                <span class="cardPercentage" *ngIf="d.percent">{{d.percent | percent}}</span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col" style="margin: 3px;">
        <div class="card" style="min-width: 10rem" >
            <div class="card-body" style="font-weight: bold; background-color: rgba(223, 223, 223, 0.2)">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <canvas id="NationalData" style="width:100%; height:275px; margin: 0px 0px 22px 0px;"></canvas>  
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <canvas id="tpStates" style="width:100%;"></canvas>  
                        <div id="radios">
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="confirmed" name="customRadioInline1" class="custom-control-input" (click) = topGraph($event.target.id) checked>
                              <label class="custom-control-label" for="confirmed">Confirmed </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="recovered" name="customRadioInline1" class="custom-control-input"  (click) = topGraph($event.target.id)>
                              <label class="custom-control-label" for="recovered">Recovered</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="deceased" name="customRadioInline1" class="custom-control-input" (click) = topGraph($event.target.id)> 
                              <label class="custom-control-label" for="deceased">Deceased</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="tested" name="customRadioInline1" class="custom-control-input"  (click) = topGraph($event.target.id)>
                              <label class="custom-control-label" for="tested">Tested</label>
                            </div>                            
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="alert alert-warning">Click on state code below to view the respective districts data</div>
<div class="form-group has-search" style="margin-top:20px">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder= {{placeHolderStateName}} #searchValue (input)="searchWord($event.target.value)">
  </div>
<div class="row">
    <table class="table table-responsive" id="homeTable">
        <thead>
            <tr>
                <th #name style="position: sticky; left:0px; background-color: white; z-index: 999;" (click)="st_sortByClick('name')">State Name<i *ngIf="counter%2!=0 && st_sortBy=='name'" class="fa fa-sort-alpha-asc"></i>
                    <i *ngIf="counter%2==0 && st_sortBy=='name'" class="fa fa-sort-alpha-desc"></i>
                    <i *ngIf="st_sortBy!='name'" class="fa fa-sort"></i></th>
                <th (click)="st_sortByClick('updated')" #updated style= "text-align: center;">Last Updated</th>
                <th (click)="st_sortByClick('population')" #population style= "text-align: center;">Population<i *ngIf="counter%2!=0 && st_sortBy=='population'" class="fa fa-sort-numeric-asc"></i>
                    <i *ngIf="counter%2==0 && st_sortBy=='population'" class="fa fa-sort-numeric-desc"></i>
                    <i *ngIf="st_sortBy!='population'" class="fa fa-sort"></i></th>
                <th (click)="st_sortByClick('confirmed')" #confirmed style= "text-align: center;">Confirmed<i *ngIf="counter%2!=0 && st_sortBy=='confirmed'" class="fa fa-sort-numeric-asc"></i>
                    <i *ngIf="counter%2==0 && st_sortBy=='confirmed'" class="fa fa-sort-numeric-desc"></i>
                    <i *ngIf="st_sortBy!='confirmed'" class="fa fa-sort"></i></th>
                <th (click)="st_sortByClick('active')" #active style= "text-align: center;">Active<i *ngIf="counter%2!=0 && st_sortBy=='active'" class="fa fa-sort-numeric-asc"></i>
                    <i *ngIf="counter%2==0 && st_sortBy=='active'" class="fa fa-sort-numeric-desc"></i>
                    <i *ngIf="st_sortBy!='active'" class="fa fa-sort"></i></th>
                <th (click)="st_sortByClick('recovered')" #recovered style= "text-align: center;">Recovered<i *ngIf="counter%2!=0 && st_sortBy=='recovered'" class="fa fa-sort-numeric-asc"></i>
                    <i *ngIf="counter%2==0 && st_sortBy=='recovered'" class="fa fa-sort-numeric-desc"></i>
                    <i *ngIf="st_sortBy!='recovered'" class="fa fa-sort"></i></th>
                <th (click)="st_sortByClick('deceased')" #deceased style= "text-align: center;">Deceased<i *ngIf="counter%2!=0 && st_sortBy=='deceased'" class="fa fa-sort-numeric-asc"></i>
                    <i *ngIf="counter%2==0 && st_sortBy=='deceased'" class="fa fa-sort-numeric-desc"></i>
                    <i *ngIf="st_sortBy!='deceased'" class="fa fa-sort"></i></th>
                <th (click)="st_sortByClick('tested')" #tested style= "text-align: center;">Tested<i *ngIf="counter%2!=0 && st_sortBy=='tested'" class="fa fa-sort-numeric-asc"></i>
                    <i *ngIf="counter%2==0 && st_sortBy=='tested'" class="fa fa-sort-numeric-desc"></i>
                    <i *ngIf="st_sortBy!='tested'" class="fa fa-sort"></i></th>
            </tr>
        </thead>

        <tbody *ngFor="let d of SortStates" class="thead">
            <tr>
                <td style="position: sticky; left:0px; background-color: white;color:rgb(29, 29, 211,0.7); z-index: 999;font-weight: bold; cursor: pointer;"
                    (click)="stateCode($event)">{{d.st_name}}</td>
                <td *ngIf="d.st_lastupdate != 'NA'; else elseBlock" style="text-align: center;">
                    {{d.st_lastupdate| date:'mediumDate'}}</td>
                <td *ngIf="d.st_population != 'NA' && d.st_population != -1.5; else elseBlock" style="text-align: center;">
                    {{d.st_population | number}}</td>
                <td *ngIf="d.st_confirmed!= 'NA' && d.st_confirmed != -1.5; else elseBlock" style="text-align: center;">
                    {{d.st_confirmed | number}}</td>
                <td *ngIf="d.st_active != 'NA' && d.st_active != -1.5; else elseBlock" style="text-align: center;">
                    {{d.st_active| number}}</td>
                <td *ngIf="d.st_recoverd != 'NA' && d.st_recoverd != -1.5; else elseBlock" style="text-align: center;">
                    {{d.st_recoverd | number}}</td>
                <td *ngIf="d.st_deceased != 'NA' && d.st_deceased != -1.5; else elseBlock" style="text-align: center;">
                    {{d.st_deceased | number}}</td>
                <td *ngIf="d.st_tested != 'NA' && d.st_tested != -1.5; else elseBlock" style="text-align: center;">
                    {{d.st_tested | number}}</td>
            </tr>
            <ng-template #elseBlock>
                <td style="text-align: center;">-NA-</td>
            </ng-template>
        </tbody>
    </table>
</div>
