.con_cl{
    background-color: rgba(0, 123, 255, 0.125);
    min-width: 10rem
}

.dec_cl{
    background-color: rgba(255, 7, 58, 0.125);
    min-width: 10rem
}

.rec_cl{
    background-color: rgba(40, 167, 69, 0.125);
    min-width: 10rem
}

.act_cl{
    background-color: rgba(197, 155, 18, 0.125);
    min-width: 10rem
}

.tot_cl{
    background-color: rgba(108, 117, 125, 0.125);
    min-width: 10rem
}

.fa-plus-square, .fa-heartbeat, .fa-check-circle, .fa-minus-circle, .fa-flask{
    float: right;
    margin-top: 4px;
}

.fa-plus-square{
    color: rgba(0, 123, 255);
}

.fa-heartbeat{
    color: rgb(212, 130, 37);
}

.fa-check-circle{
    color: rgba(40, 167, 69);
}

.fa-minus-circle{
    color: rgba(255, 7, 58);
}

.fa-flask{
    color: rgb(61, 64, 66);
}


.delta_tot{
    font-size: 11px;
    text-align: center;
    margin-left: 2px;
    color: firebrick;
  }
  


  .custom-control-label{
      font-weight: normal;
      font-size: 14px;
  }

  #radios{
      text-align: center;
  }

  

@media only screen and (max-width: 500px)
{
    #tpStates{
        height: 166px;
    }
}

@media only screen and (min-width: 501px)
{
    #tpStates{
        height: 258px;
    }
}


@media only screen and (max-width: 502px)
{
    .alert-warning{
        font-size: 13px;
        padding: .75rem 0.5rem;
        text-align: center;
    }

    #titleName{
        font-size: 1.41rem;
        margin-left:3px;
    }
}
.cardPercentage{
    float: right;
    position: absolute;
    color: gray;
    font-size: 55px;
    opacity: 0.1;
    right: 1px;
    bottom: 1.1px;
}

.percText{
    font-size: 10px;
    color: black;
    position: absolute;
    bottom: 2px;
    right: 5px;
    opacity: 0.5;
}

.card-header{
    padding: .75rem 0.8rem;
}

table thead tr th {
    cursor: pointer;
  }
  
  table thead tr th i{
    padding-left: 6px;
    cursor: pointer;
    display: initial;
  }
  

.fa-sort{
    color: gray;
    opacity: 0.7;
  }
  

  .form-control:focus{
      box-shadow: none;
  }