<div class="row">
    <div class="col">
        <h3>Covid Stats India</h3>
    </div>
    <div class="col">
        <div class="float-right" style="text-align: right; color: gray; font-weight: bold;">Indian Population <br>
            <span class="numbers"> {{IndianPopulation | number}} </span></div>
    </div>
</div>

<div class="row">
    <div class="col" style="margin:3px;" *ngFor="let d of Nt_data">
        <div class="card {{d.style}}">
            <div class="card-header">
                {{d.Name}} <span class={{d.icon}}></span>
            </div>
            <div class="card-body" style="font-weight: bold;">
                {{d.number | number}} 
                <span class={{d.del_style}} *ngIf="d.del && d.del_style">
                    <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="d.del >=0 "></i>
                    <i class="fa fa-arrow-down" aria-hidden="true" *ngIf="d.del < 0"></i>&nbsp;{{d.del | number}}</span>
                <span class="cardPercentage" *ngIf="d.percent">{{d.percent | percent}}</span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col" style="margin: 3px;">
        <div class="card" style="min-width: 10rem" >
            <div class="card-body" style="font-weight: bold; background-color: rgba(223, 223, 223, 0.2)">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <canvas id="NationalData" style="width:100%; height:275px; margin: 0px 0px 22px 0px;"></canvas>  
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <canvas id="tpStates" style="width:100%;"></canvas>  
                        <div id="radios">
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="confirmed" name="customRadioInline1" class="custom-control-input" (click) = topGraph($event.target.id) checked>
                              <label class="custom-control-label" for="confirmed">Confirmed </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="recovered" name="customRadioInline1" class="custom-control-input"  (click) = topGraph($event.target.id)>
                              <label class="custom-control-label" for="recovered">Recovered</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="deceased" name="customRadioInline1" class="custom-control-input" (click) = topGraph($event.target.id)> 
                              <label class="custom-control-label" for="deceased">Deceased</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="tested" name="customRadioInline1" class="custom-control-input"  (click) = topGraph($event.target.id)>
                              <label class="custom-control-label" for="tested">Tested</label>
                            </div>                            
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="alert alert-warning">Click on state code below to view the respective districts data</div>
<div class="row">
    <table class="table table-responsive table-hover" id="homeTable">
        <thead>
            <tr>
                <th>State</th>
                <th style= "text-align: center;">Last Updated</th>
                <th style= "text-align: center;">Population</th>
                <th style= "text-align: center;">Confirmed Cases</th>
                <th style= "text-align: center;">Recovered Cases</th>
                <th style= "text-align: center;">Deceased Cases</th>
                <th style= "text-align: center;">Total Tests</th>
            </tr>
        </thead>
        <tbody *ngFor="let d of data | keyvalue" class="thead">
            <ng-container *ngIf="(d.value.meta.population || d.value.total) && d.key != 'TT' && d.key != 'UN'">
                <tr>
                    <td style=" color:rgb(29, 29, 211,0.7); font-weight: bold; cursor: pointer;"
                        *ngIf="d.value.meta && d.value.total; else elseBlock" (click)="stateCode($event)">{{d.key | stateName}}</td>
                    <td *ngIf="d.value.meta.tested && d.value.meta;else elseBlock" style= "text-align: center;">
                        {{d.value.meta.tested.last_updated |json | date:'mediumDate'}}</td>
                    <td *ngIf="d.value.meta && d.value.meta.population;else elseBlock" style= "text-align: center;">
                        {{d.value.meta.population |json | number}}</td>
                    <td *ngIf="d.value.total && d.value.total.confirmed;else elseBlock" style= "text-align: center;">
                        {{d.value.total.confirmed |json | number}}</td>
                    <td *ngIf="d.value.total && d.value.total.recovered;else elseBlock" style= "text-align: center;">
                        {{d.value.total.recovered |json | number}}</td>
                    <td *ngIf="d.value.total && d.value.total.deceased;else elseBlock" style= "text-align: center;">
                        {{d.value.total.deceased |json | number}}</td>
                    <td *ngIf="d.value.total && d.value.total.tested;else elseBlock" style= "text-align: center;">
                        {{d.value.total.tested |json | number}}</td>
                </tr>
            </ng-container>

            <ng-template #elseBlock>
                <td style= "text-align: center;">-NA-</td>
            </ng-template>
        </tbody>
    </table>
</div>
