<div class="table table-striped table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created by</th>
            <th>Created on</th>
            <th>Modified by</th>
            <th>Modified on</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody *ngFor="let event of data; id as i">
        <tr>
            <td><a routerLink="{{event.Name}}">{{event.Name}}</a></td>
            <td>{{event.Description}}</td>
            <td>{{event.Createdby}}</td>
            <td>{{event.Createdon | date:"mm/dd/yyyy hh:mm:ss"}}</td>
            <td>{{event.Modifiedby}}</td>
            <td>{{event.Modifiedon | date:"mm/dd/yyyy hh:mm:ss"}}</td>
            <td>{{event.Status}}</td>
        </tr>
    </tbody>
</div>