/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding:0;
}


@media only screen and (min-width: 990px)
{
    #homeTable{
        display: inline-table;
    }
}


@media only screen and (max-width: 989px)
{
    #homeTable{
        display: block;
    }
}
